<!--{% extends "management/base.html" %}-->
{% load staticfiles %}
{% block title %}添加图书{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text">添加成功</h2>
                    </div>
                {% endif %}
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-left">资料修改</h1>



                <script language="JavaScript">
                        function selectKind(the){
                             var obj = the; var container = document.getElementById("kind_" + obj.name);
                             for(var i=0;i<container.getElementsByTagName("input").length;i++)
                             {



                                     container.getElementsByTagName("input")[i].disabled = true;



                             }
                        } //-->
                         function selectType(the){
                             var obj = the; var container = document.getElementById("kind_" + obj.name);
                             for(var i=0;i<container.getElementsByTagName("input").length;i++)
                             {



                                     container.getElementsByTagName("input")[i].disabled = false;



                             }
                        } //-->

                    function check(){
document.getElementById("id_c14a2").disabled = true;

}
function uncheck(){
document.getElementById("id_c14a2").disabled = false;

}
function check1(){
document.getElementById("id_c12a2").disabled = true;
document.getElementById("id_c12a3").disabled = true;
}
function uncheck1(){
document.getElementById("id_c12a2").disabled = false;
document.getElementById("id_c12a3").disabled = false;

}

                    </script>



<!--todo hhs 0918。
      <div class="form-group">
               <label for="id_name" class="col-md-3 control-label">省：</label>
                <div class="col-md-9">
                    <select class="form-control" name="province" id="province">
                        <option>==请选择===</option>
                    </select>
                </div>
      </div>


       <div class="form-group">
           <label for="id_name" class="col-md-3 control-label">市：</label>
                <div class="col-md-9">
                    <select class="form-control" name="city" id="city">
                        <option>==请选择===</option>
                    </select>
                </div>
       </div>


         <div class="form-group">
             <label for="id_name" class="col-md-3 control-label"> 县/区：</label>
                <div class="col-md-9">
                    <select class="form-control" name="area" id="area" >
                        <option>==请选择===</option>
                    </select>
                </div>
          </div>


todo hhs 0918。-->
                    <h2>首次评估及化验检查</h2>
                    <div class="form-group">
                        <label  for="id_c1" class="col-md-3 control-label">意识：</label>
                        <div class="col-md-9" id="id_c1">
                        <label><input type="radio" name="c1" value="0" onclick="selectKind(this)">清楚 </label>
                        <label><input type="radio" name="c1" value="1" onclick="selectKind(this)"> 嗜睡 </label>
                        <label><input type="radio" name="c1" value="2" onclick="selectKind(this)">昏睡 </label>
                        <label><input type="radio" name="c1" value="3" onclick="selectType(this)"> 昏迷 </label>

                        </div>
                    </div>




                    <div class="form-group" id="kind_c1">
                        <label for="id_c1a1" class="col-md-3 control-label">(若评为昏迷进行评分)Glasgow评分：</label>
                        <div class="col-md-9">
                            <input type="number" value="0" class="form-group" id="id_c1a1"  name="c1a1" maxlength="2" disabled autofocus>
                        </div>
                    </div>


                    <div class="form-group">
                    <label for="id_c2" class="col-md-3 control-label">体征：</label>
                      <div class="col-md-9" id="id_c2"  name="c2">
                        <label><input type="checkbox" value="0">左利手</label>
                        <label><input type="checkbox" value="1">右利手</label>
                        <label><input type="checkbox" value="2">凝视</label>
                        <label><input type="checkbox" value="3">视野缺损</label>
                        <label><input type="checkbox" value="4">面瘫</label><br/>
                        <label><input type="checkbox" value="5">偏瘫</label>
                        <label><input type="checkbox" value="6">单瘫</label>
                        <label><input type="checkbox" value="7">四肢瘫</label>
                        <label><input type="checkbox" value="8">共济失调</label>
                        <label><input type="checkbox" value="9">感觉异常</label><br/>
                        <label><input type="checkbox" value="10">失语</label>
                         <select class="form-group" id="id_c2a1"  name="c2a1">
                            <option>运动性</option>
                            <option>感觉性</option>
                            <option>混合性</option>
                        </select>
                        <label><input type="checkbox" value="11">构音障碍</label>
                        <label><input type="checkbox" value="112">忽视</label>
                      </div>
                    </div>


                    <div class="form-group">
                        <label for="id_c2a2" class="col-md-3 control-label">NIHSS评分：</label>
                        <div class="col-md-9">
                            <input type="text"  maxlength="2" class="form-group"  id="id_c2a2" required name="c2a2" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_c3" class="col-md-3 control-label">血糖(mmol/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="5" class="form-group" id="id_c3" required name="c3" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  for="id_c4a1" class="col-md-3 control-label">入院后首次血压(mmHg)：</label>
                        <div class="col-md-9">
                            <input type="number" maxlength="3" class="form-group" id="id_c4a1" required name="c4a1" autofocus>
                            <label  for="id_c4a2" class="col-md-3 control-label">/</label>
                            <input type="number" maxlength="3" class="form-group" id="id_c4a2" required name="c4a2" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c5a1" class="col-md-3 control-label">血小板(10^9/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c5a1" required name="c5a1" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c5a2" class="col-md-3 control-label">白细胞(10^9/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c5a2" required name="c5a2" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c5a3" class="col-md-3 control-label">红细胞(10^12/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c5a3" required name="c5a3" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c5a4" class="col-md-3 control-label">血红蛋白(g/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c5a4" required name="c5a4" autofocus>
                        </div>
                    </div>


                    <div class="form-group">
                        <label  class="col-md-3 control-label">血脂：</label>
                        <label for="id_c6a1" class="col-md-3 control-label">TG(mmol/L)：</label>
                            <div class="col-md-9">
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c6a1" required name="c6a1" autofocus>
                         </div>
                    </div>


                     <div class="form-group">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="id_c6a2" class="col-md-3 control-label">TC(mmmol/L)：</label>
                            <div class="col-md-9">
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c6a2" required name="c6a2" autofocus><br/>
                         </div>
                    </div>




                    <div class="form-group">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="id_c6a3" class="col-md-3 control-label">LDL-C(10^12/L)：</label>
                        <div class="col-md-9">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c6a3" required name="c6a3" autofocus>
                         </div>
                    </div>

                        <div class="form-group">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="id_c6a4" class="col-md-3 control-label">HDL-C(mmol/L)：</label>
                        <div class="col-md-9">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c6a4" required name="c6a4" autofocus>
                        </div>
                    </div>


                     <div class="form-group">
                        <label for="id_c7a1" class="col-md-3 control-label">谷丙转氨酶(U/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c7a1" required name="c7a1" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c7a2" class="col-md-3 control-label">谷草转氨酶(U/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c7a2" required name="c7a2" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c7a3" class="col-md-3 control-label">尿素氮(mmol/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c7a3" required name="c7a3" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c7a4" class="col-md-3 control-label">血肌酐(umol/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c7a4" required name="c7a4" autofocus>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_c8" class="col-md-3 control-label">同型半胱氨酸HCY(μmol/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c8" required name="c8" autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_c9" class="col-md-3 control-label">超敏-C反应蛋白CRP(mg/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c9" required name="c9" autofocus>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="id_c10" class="col-md-3 control-label">CK(U/L)：</label>
                        <div class="col-md-9">
                            <input type="number" step="0.01" maxlength="6" class="form-group" id="id_c10" required name="c10" >
                        </div>
                    </div>



                    <div class="form-group">
                    <label for="id_c11" class="col-md-3 control-label">CT：</label>
                      <div class="col-md-9" id="id_c11" required name="c11">
                        <label><input type="checkbox" value="0">未见异常</label>
                        <label><input type="checkbox" value="1">出血</label>
                        <label><input type="checkbox" value="2">梗死</label>
                        <label><input type="checkbox" value="3">其他</label>
                      </div>
                    </div>


                     <div class="form-group">
                        <label  for="id_c12a1" class="col-md-3 control-label">MRI急性期改变：</label>
                        <div class="col-md-9" id="id_c12a1">
                        <label><input type="radio" name="c12a1" value="0" onclick="uncheck1(),selectType(this)"> 有 </label>
                        <label><input type="radio" name="c12a1" value="1" onclick="check1(),selectKind(this)"> 无 </label>

                        </div>
                    </div>

                    <div id="kind_c12a1">
                    <div class="form-group" >
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="id_c12a2" class="col-md-3 control-label">部位：</label>
                      <div class="col-md-9" id="id_c12a2"  >
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" value="0" name="c12a2">左侧</label>
                        <label><input type="checkbox" value="1" name="c12a2">大脑半球</label>
                        <label><input type="checkbox" value="2" name="c12a2">放射冠</label>
                        <label><input type="checkbox" value="3" name="c12a2">基底节区</label>
                        <label><input type="checkbox" value="4" name="c12a2">脑干</label>
                        <label><input type="checkbox" value="5" name="c12a2">小脑</label>
                        <label><input type="checkbox" value="6" name="c12a2">脑室</label>
                        <label><input type="checkbox" value="7" name="c12a2">蛛网膜下腔</label>
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" value="8" name="c12a2">右侧</label>
                        <label><input type="checkbox" value="9" name="c12a2">大脑半球</label>
                        <label><input type="checkbox" value="10" name="c12a2">放射冠</label>
                        <label><input type="checkbox" value="11" name="c12a2">基底节区</label>
                        <label><input type="checkbox" value="12" name="c12a2">脑干</label>
                        <label><input type="checkbox" value="13" name="c12a2">小脑</label>
                        <label><input type="checkbox" value="14" name="c12a2">脑室</label>
                        <label><input type="checkbox" value="15" name="c12a2">蛛网膜下腔</label>
                      </div>
                    </div>
                    </div>


                    <div class="form-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label  for="id_c12a3" class="col-md-3 control-label">范围：</label>
                        <div class="col-md-9">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <select class="form-group" id="id_c12a3" name="c12a3">
                            <option>大</option>
                            <option>中</option>
                            <option>小</option>
                        </select>
                        </div>
                    </div>




                    <div class="form-group">
                        <label  for="id_c14a1" class="col-md-3 control-label">心电监护：有无心房纤颤：</label>
                        <div class="col-md-9" id="id_c14a1">
                        <label><input type="radio" name="c14a1" value="0" onclick="uncheck()" > 有 </label>
                        <label><input type="radio" name="c14a1" value="1" onclick="check()"> 无 </label>

                        </div>
                    </div>


                    <div class="form-group" id="kind_c14a1">
                        <label  for="id_c14a2" class="col-md-3 control-label">如果“有”，则为：</label>
                        <div class="col-md-9">
                        <select class="form-group" id="id_c14a2" name="c14a2">
                            <option>阵发性房颤</option>
                            <option>持续性房颤</option>
                        </select>
                        </div>
                    </div>























                    <div class="form-group">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}