<!--{% extends "management/base.html" %}-->
{% load staticfiles %}
{% block title %}添加图书{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text">添加成功</h2>
                    </div>
                {% endif %}
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-left">资料修改</h1>



                    <h2>出院情况</h2>

                    <div class="form-group">

                        <label  for="id_g1" class="col-md-3 control-label">出院情况：</label>

                        <div class="col-md-9">

                        <select class="form-group" id="id_g1" required name="g1">
                            <option>死亡</option>
                            <option>治愈</option>
                            <option>好转</option>
                            <option>未愈</option>
                            <option>其他</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_g2" class="col-md-3 control-label">NHISS评分：</label>

                            <input type="text" class="form-group" id="id_g2" required name="g2" autofocus>

                    </div>








                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}